.faq-item {
  background: var(--lighter-indigo);
  box-shadow: 10px 10px 0 var(--lightest-indigo);

  text-align: left;
  color: var(--white);
  font-family: "Inconsolata", sans-serif;
  padding: 25px;
  margin-bottom: 30px;
  max-width: 900px;
}

.faq-item p {
  color: var(--white);
}
