a {
  color: var(--white);
  text-decoration: underline;
  font-size: 20px;
}

.follow-link a {
  color: var(--white);
  font-size: 27px;
  text-decoration: underline;
}

.mint a {
  font-size: 30px;
}
