.meet-the-artist {
  padding-left: 200px;
}

.info {
  display: flex;
  align-items: center;
  padding: 3rem 5% 2rem;
}

.profile-picture {
  border: 8px solid var(--light-indigo);
  border-radius: 50%;
}

.username {
  font-family: "Inconsolata", sans-serif;
  font-size: 90px;
  font-weight: 500;
  color: var(--light-indigo);

  margin-top: 0;
  margin-bottom: 0;

  padding-left: 20px;
}
