@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500&family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --grey: #252525;
  --blue-black: #1a153a;
  --indigo: #341948;
  --light-indigo: #772aff;
  --lighter-indigo: #7435a8;
  --lightest-indigo: #aa81cc;
  --gold: rgb(245, 166, 19);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--white);
  background: var(--blue-black);

  overflow-x: hidden;
}

h1 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 90px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h2 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 65px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 40px;
}

h4 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 30px;
}

h5 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 50px;
}

p {
  font-family: "Inconsolata", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: var(--white);
}

hr {
  height: 10px;

  background: linear-gradient(
    to right,
    var(--light-indigo),
    var(--lighter-indigo),
    var(--lightest-indigo)
  );
  border: none;
}

span {
  color: var(--lighter-indigo);
}

li {
  color: var(--blue-black);
}

img {
  height: 700px;
}

::selection {
  color: var(--lightest-indigo);
  background: var(--black);
}

.colouring {
  height: 400px;
}

.tip span {
  font-family: "Inconsolata", sans-serif;
  font-size: 23px;
  font-weight: 300;
  color: var(--white);
}

.textshadow a {
  text-decoration: none;
  cursor: auto;

  font-size: 7vw;
  letter-spacing: 1vw;
  background: -webkit-linear-gradient(
    45deg,
    var(--light-indigo),
    var(--lighter-indigo)
  );
  text-shadow: -0.5vw -0.5vw 0 white;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.center-comic {
  justify-content: center;
  text-align: center;
  align-items: center;
}
