.display-img {
  width: 70vw;
  height: 40vh;

  border: 5px solid var(--light-indigo);
  border-radius: 50px;
}

.quokka-img {
  border-radius: 5px;
}
.quokka-img2 {
  height: 180px;
  border-radius: 5px;
}
