@media only screen and (max-width: 768px) {
  .faq-list {
    padding: 15px;
  }
  .faq-item {
    background: var(--light-indigo);
    box-shadow: 10px 10px 0 #8e51f8;

    text-align: left;
    color: var(--white);
    font-family: "Inconsolata", sans-serif;

    padding: 25px;
    margin-bottom: 30px;
    max-width: 900px;
  }

  .faq-item p {
    color: var(--white);
  }
}
