.book {
  position: relative;
  transform-style: preserve-3d;

  width: 90vw;
  height: 80vh;
  perspective: 800px;
}

/* Pages */
.page {
  position: absolute;
  width: 40%;
  height: 120%;
  top: 0;
  left: 50%;
  transform-style: preserve-3d;

  justify-content: center;
  align-items: center;
  text-align: center;

  transition: transform 1s;
  transform-origin: left center;
}

.page:first-of-type .side0 {
  box-shadow: -10px 0 10px -6px rgba(0, 0, 0, 0.3);
}

.page:last-of-type .side1 {
  box-shadow: 10px 0 10px -6px rgba(0, 0, 0, 0.3);
}

/* Sides */
.side {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.side0 {
  transform: none;

  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), var(--black) 0.5em);
  padding: 1em;
  box-sizing: border-box;
}

.side1 {
  transform: rotateY(180deg);

  background: linear-gradient(to left, rgba(0, 0, 0, 0.1), var(--black) 0.8em);
  padding: 1em;
  box-sizing: border-box;
}

.flip {
  /* Do nothing, this is used by JS*/
}
